@keyframes btn-animated {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.822); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #df0043, #fa0f55);
  background-repeat: no-repeat;
  line-height: 1.6;
  background-size: cover;
  min-height: 100vh;
  color: #585858; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.301);
  background-color: white; }

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 7rem;
  border-bottom: 1px solid #9e9c9c; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #313131; }

.hotel-view {
  flex: 1; }

.details {
  display: flex;
  border-bottom: 1px solid #9e9c9c;
  padding: 4rem;
  background-color: #eeeeee; }

.description {
  flex: 0 0 60%;
  margin-right: 4rem;
  background: white;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.301);
  font-size: 1.4rem;
  padding: 3.3rem; }

.user-review {
  flex: 1;
  background: greenyellow;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.301); }

.logo {
  height: 3.5rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #eeeeee;
    border: none;
    padding: .7rem 2rem;
    width: 90%;
    border-radius: 100px;
    transition: all .3s ease;
    margin-right: -3rem;
    color: #9e9c9c; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #cac9c9; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #9e9c9c;
      text-transform: capitalize; }
  .search__input:focus + .search__button {
    background-color: #cac9c9; }
  .search__input:focus + .search__button {
    background-color: #cac9c9; }
  .search__button {
    border: none;
    background-color: #eeeeee;
    transition: all .3s ease;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #9e9c9c; }

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    padding: 0 1.8rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background-color: #eeeeee; }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #fa0f55;
    position: absolute;
    top: 1.4rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
  .user-nav__user {
    display: flex;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    margin-right: 1rem;
    border-radius: 50%; }
  .user-nav__user-name {
    font-weight: 900; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s 0.4s cubic-bezier(0.02, 0.22, 1, 0.53), background 0.1s ease;
    transform-origin: center;
    background-color: #fa0f55; }
  .side-nav__item:hover:before, .side-nav__item--active:before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background: #ff146e; }
  .side-nav__link:link, .side-nav__link:visited {
    color: white;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    z-index: 10;
    display: flex;
    align-items: center;
    position: relative; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: white; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #9e9c9c; }
  .overview__heading {
    text-transform: uppercase;
    font-size: 2.80rem;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: #df0043; }
  .overview__location {
    font-size: 1.3rem;
    display: flex;
    vertical-align: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: #df0043;
    color: white;
    margin-left: 2rem;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: .7rem 2rem; }
  .overview__rating-avarage {
    font-weight: 200;
    font-size: 2.25rem; }
  .overview__rating-count {
    font-size: 1rem;
    font-weight: 100; }

.btn-inline {
  color: #df0043;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
  border: none;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 2px; }
  .btn-inline:hover {
    color: #9e9c9c; }
  .btn-inline:focus {
    outline: none;
    animation: btn-animated 1s infinite; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s 0.4s cubic-bezier(0.02, 0.22, 1, 0.53), background 0.1s ease;
    transform-origin: center;
    background-color: #fa0f55; }
  .side-nav__item:hover:before, .side-nav__item--active:before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background: #ff146e; }
  .side-nav__link:link, .side-nav__link:visited {
    color: white;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    z-index: 10;
    display: flex;
    align-items: center;
    position: relative; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: white; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  padding: 3rem 0;
  margin: 3rem 0;
  border-top: 1px solid #9e9c9c;
  border-bottom: 1px solid #9e9c9c;
  font-size: inherit;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    display: flex; }
  .list__item::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .7rem;
    background-color: #df0043;
    -webkit-mask-image: url(../img/svg/chevron-with-circle-right.svg);
    -webkit-mask-size: cover;
    align-self: center; }

.recomment {
  color: #bec0c0;
  font-size: 1.3rem;
  display: flex;
  align-items: center; }
  .recomment__count {
    margin-right: auto; }
  .recomment__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white; }
    .recomment__photo:not(:last-of-type) {
      margin-right: -2rem; }
